# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# ROS2
log/
install/
build/
*.pyc

# Java / Gradle
spring-boot/.gradle/
spring-boot/build/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
*.log
